<div class="card-product mt-3 rounded" id="booking-<%= booking.id %>">
  <%= image_tag booking.user.photo.attached? ? cl_image_path(booking.user.photo.key) : 'https://cdn2.aprico-media.com/production/imgs/images/000/029/940/original.png?1553946576' %>
  <div class="content">
    <div class="card-product-infos">
      <h2><%= booking.user.name %></h2>
      <p>Number: <%= booking.number_of_people %></p>
      <p>Restaurant: <%= booking.restaurant.name %></p>
      <%# time out %>
      <% time = ((900- (Time.now - booking.created_at))/60).to_int %>
      <% if time > 0 %>
        <p>Expires in <%= time %>mins</p>
      <% else %>
        <p>Booking expired</p>
      <% end %>
      <%# time out %>
    </div>
    <%# buttons to accept/reject to customer's request(in case pending) %>
    <% if booking.status == "pending" %>
      <div class="d-flex m-2">
        <div class="owner-confirm">
          <%= simple_form_for booking, url: owner_booking_path(booking) do |f| %>
            <%= f.input :status, as: :hidden, input_html: { value: 'restaurant_accepted'} %>
            <%= f.submit 'Accept', class: 'btn btn-info' %>
          <% end %>
        </div>
        <div class="owner-reject">
          <%= simple_form_for booking, url: owner_booking_path(booking) do |f| %>
            <%= f.input :status, as: :hidden, input_html: { value: 'restaurant_rejected'} %>
            <%= f.submit 'Reject', class: 'btn btn-light' %>
          <% end %>
        </div>
      </div>
      <%# buttons to accept/reject to customer's request (in case pending %>
    <% else %>
      <%# after choosing accept/reject to customer's request %>
      <div class="accept">
        <div class="d-flex justify-content-center">
          <% if booking.status == "restaurant_accepted" %>
            <a href="#" class="btn btn-success">
              <%= "Waiting for confirmation" %>
            </a>
          <% elsif booking.status == "restaurant_rejected" %>
            <a href="#" class="btn btn-danger">
              <%= "Rejected" %>
            </a>
          <% elsif booking.status == "user_accepted" %>
            <a href="#" class="btn btn-primary">
              <%= "Arriving soon" %>
            </a>
          <% end %>
        </div>
      </div>
      <%# after choosing accept/reject to customer's request %>
    <% end %>
  </div>
</div>
