<%= render "owner/bookings/owner_navbar" %>
<div class="container mt-3 mb-3 d-flex flex-column"
    data-controller="restaurant-subscription"
    data-restaurant-subscription-owner-id-value="<%= current_user.id %>"
    data-action="click->restaurant-subscription#unmute"
  >
  <%= audio_tag "notification.mp3", class: "audio-play", muted: true, data: {restaurant_subscription_target: "notification"} %>
  <%# Booking pending %>
  <div class="bookings booking-pending-card" data-restaurant-subscription-target="bookings">
    <h1 class="reservation-titles">New Requests</h1>
    <% @bookings.each do |booking| %>
      <%= render "card_product", booking: booking if booking.status == "pending" %>
    <% end %>
  </div>
  <%# Restaurant Accepted %>
  <hr class="line">
  <div class="bookings restaurant-accepted-card" data-restaurant-subscription-target="bookings">
    <h1 class="reservation-titles">Accepted Requests</h1>
    <% @bookings.each do |booking| %>
      <%= render "card_product", booking: booking if booking.status == "restaurant_accepted" %>
    <% end %>
  </div>
  <hr class="line">
  <div class="accepted-rejected d-flex justify-content-between">
    <%# User Accepted %>
    <div class="bookings user-accepted-card" data-restaurant-subscription-target="bookings">
      <h1 class="reservation-titles">Confirmed</h1>
      <% @bookings.each do |booking| %>
        <%= render "card_product", booking: booking if booking.status == "user_accepted" %>
      <% end %>
    </div>
    <hr class="line-vr">
    <div class="statistics-div">
      <h1 class="reservation-titles">Statistics</h1>
      <div class="card-product mt-3 rounded d-flex flex-column">
        <div>
          Monthly Reservations
        </div>
        <%= render 'charts' %>
      </div>
    </div>
  </div>
  <%# pending, restaurant_accepted, user_accepted, restaurant_rejected, user_rejected %>
</div>
<ul class="nav tabs-underlined" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <span class="nav-link tab-underlined active" id="bookings-tab" data-bs-toggle="tab" data-bs-target="#bookings-tab-pane" role="tab" aria-controls="bookings-tab-pane" aria-selected="true">Bookings</span>
  </li>
  <li class="nav-item" role="presentation">
    <span class="nav-link tab-underlined" id="requests-tab" data-bs-toggle="tab" data-bs-target="#requests-tab-pane" role="tab" aria-controls="requests-tab-pane" aria-selected="false">Requests</span>
  </li>
  <li class="nav-item" role="presentation">
    <span class="nav-link tab-underlined" id="conversations-tab" data-bs-toggle="tab" data-bs-target="#conversations-tab-pane" role="tab" aria-controls="conversations-tab-pane" aria-selected="false">Conversations</span>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade py-3 show active" id="bookings-tab-pane" role="tabpanel" aria-labelledby="bookings-tab" tabindex="0">
    This is the content for the Bookings tab. Notice in the tab HTML there is a href="#bookings". This is pointing to the id of this div..
  </div>
  <div class="tab-pane fade py-3" id="requests-tab-pane" role="tabpanel" aria-labelledby="requests-tab" tabindex="0">
    This is the content for the Requests tab. Notice in the tab HTML there is a href="#requests". This is pointing to the id of this div..
  </div>
  <div class="tab-pane fade py-3" id="conversations-tab-pane" role="tabpanel" aria-labelledby="conversations-tab" tabindex="0">
    This is the content for the Conversations tab. Notice in the tab HTML there is a href="#converstations". This is pointing to the id of this div.
  </div>
</div>
