<% unless booking.status == "user_rejected" || booking.status == "restaurant_rejected" %>
  <div class="card-product mt-3">
    <img src="<%= booking.restaurant.photos.attached? ? cl_image_path(booking.restaurant.photos.first.key) : 'https://images.unsplash.com/photo-1592861956120-e524fc739696?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80' %>" class="d-block w-100" alt="...">
    <div class="content">
      <div class="card-product-infos">
        <h2>Name: <%= booking.restaurant.name %></h2>
      </div>
      <div class="status-buttons"
              data-controller="booking-subscription"
              data-booking-subscription-booking-id-value="<%= booking.id %>"
              data-booking-subscription-target="bookings"
        >
        <% if booking.status == "restaurant_accepted" %>
          <div class="d-flex m-2">
            <%= simple_form_for booking do |f| %>
              <%= f.input :status, as: :hidden, input_html: { value: 'user_accepted'} %>
              <%= f.submit 'Confirm', class: 'btn btn-info' %>
            <% end %>
          </div>
        <% else %>
          <div class="d-flex justify-content-center">
            <div class="user-accepted">
              <% if booking.status == "user_accepted" %>
                <% render "user_accepted" %>
              </div>
              <div class="restaurant-rejected">
              <% elsif booking.status == "restaurant_rejected" %>
                <% render "restaurant_rejected" %>
              </div>
              <div class="user-rejected">
              <% elsif booking.status == "user_rejected" %>
                <% render "user_rejected" %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
      <%= link_to "See details", restaurant_path(booking.restaurant) %>
    </div>
  </div>
<% end %>
