<div
  class="resquests <%= booking.status == "restaurant_rejected" ? "opacity-50" : ""%> "
  id="booking-<%= booking.id %>"
>
  <%# <% unless booking.status == "user_rejected" || booking.status == "restaurant_rejected" %>
  <div class="card-product mt-3 rounded" id="user-booking-card">
    <img src="<%= booking.restaurant.photos.attached? ? cl_image_path(booking.restaurant.photos.first.key) : 'https://images.unsplash.com/photo-1592861956120-e524fc739696?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80' %>"  alt="...">
    <div class="content">
      <div class="card-product-infos">
        <%= link_to booking.restaurant.name, restaurant_path(booking.restaurant) %>
        <p>For <%= booking.number_of_people %> people</p>
        <% if @location %>
          <p><%= booking.distance %> km away</p>
        <% end %>
        <div class="status-buttons"
          data-controller="booking-subscription"
              data-booking-subscription-booking-id-value="<%= booking.id %>"
              data-booking-subscription-booking-status-value="<%= booking.status %>"
              data-booking-subscription-target="bookings">
          <% if booking.status == "pending" %>
            <div class="pending">
              <small class="fst-italic"> <%= "processing your request" %></small>
            </div>
          <% end %>
          <% if booking.status == "restaurant_accepted" %>
            <div class="d-flex m-2 justify-content-center">
              <div class="user-accept">
                <%= simple_form_for booking do |f| %>
                  <%= f.input :status, as: :hidden, input_html: { value: 'user_accepted'} %>
                  <%= f.submit 'Confirm', class: 'btn btn-info' %>
                <% end %>
              </div>
              <%= simple_form_for booking do |f| %>
                <div class="user-reject">
                  <%= f.input :status, as: :hidden, input_html: { value: 'user_rejected'} %>
                  <%= f.submit 'Reject', class: 'btn btn-light' %>
                <% end %>
              </div>
            </div>
          <% else %>
            <div class="d-flex justify-content-center">
              <div class="user-accepted">
                <% if booking.status == "user_accepted" %>
                  <% render "user_accepted" %>
                </div>
                <div class="restaurant-rejected">
                <% elsif booking.status == "restaurant_rejected" %>
                  <% render "restaurant_rejected" %>
                </div>
                <div class="user-rejected">
                <% elsif booking.status == "user_rejected" %>
                  <% render "user_rejected" %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <%# <% end %>
</div>
