<div class="d-flex m-2 justify-content-center">
  <div class="user-accept">
    <%= simple_form_for booking do |f| %>
      <%= f.input :status, as: :hidden, input_html: { value: 'user_accepted'} %>
      <%= f.submit 'Confirm', class: 'btn btn-info' %>
    <% end %>
  </div>
  <div class="user-reject">
    <%= simple_form_for booking do |f| %>
      <%= f.input :status, as: :hidden, input_html: { value: 'user_rejected'} %>
      <%= f.submit 'Reject', class: 'btn btn-light' %>
    <% end %>
  </div>
</div>
