<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to restaurants_path, class: "navbar-brand" do %>
      <%= image_tag "https://res.cloudinary.com/dmnm5ct2h/image/upload/v1669092922/Ozei/ozei_logo_armhnm.svg" %>
    <% end %>
    <div class="dropdown">
      <button type="button" class="btn dropdown-toggle text-white" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
        Find a restaurant
      </button>
      <div class="mb-3">
        <label for="exampleDropdownFormEmail2" class="form-label">Find</label>
        <%= render 'restaurants/form' %>
      </div>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to bookings_path, class: "nav-link text-white" do %>
              <small><%= "Welcome, #{current_user.name}!"%></small>
            <% end %>
          </li>
          <li class="nav-item dropdown">
            <%= image_tag "https://source.unsplash.com/random?person", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "#{current_user.name}", bookings_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item d-flex">
            <%= link_to new_user_session_path, class: "nav-link text-white opacity-50" do %>
              <%= image_tag "https://res.cloudinary.com/dmnm5ct2h/image/upload/v1669182822/Ozei/avatar_white_x4upmf.svg" %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
