<div class="navbar navbar-expand-sm navbar-light navbar-lewagon" data-controller="navbar">
  <div class="container-fluid">
    <%= link_to restaurants_path, class: "navbar-brand" do %>
      <%= image_tag "https://res.cloudinary.com/dmnm5ct2h/image/upload/v1669092922/Ozei/ozei_logo_armhnm.svg" %>
    <% end %>
    <div class="justify-content-center">
      <div class="form-desktop">
        <%= render 'restaurants/form' %>
      </div>
    </div>
    <%# Right Side Dropdown Icon + Menu %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to bookings_path, class: "nav-link text-white" do %>
              <small><%= "Welcome, #{current_user.name}!"%></small>
            <% end %>
          </li>
          <li class="nav-item dropdown">
            <%= image_tag current_user.photo.attached? ? cl_image_path(current_user.photo.key) : 'https://cdn2.aprico-media.com/production/imgs/images/000/029/940/original.png?1553946576', class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "My Bookings", bookings_path, class: "dropdown-item" %>
              <%= link_to "My restaurants", owner_bookings_path, class: "dropdown-item" if current_user.has_restaurants? %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item d-flex">
            <%= link_to new_user_session_path, class: "nav-link text-white opacity-50" do %>
              <%= image_tag "https://res.cloudinary.com/dmnm5ct2h/image/upload/v1669182822/Ozei/avatar_white_x4upmf.svg" %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
    <%# Mobile Dropdown Menu %>
    <button class="navbar-toggler" type="button" data-action="click->navbar#openNav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class=""><i class="fa-solid fa-bars"></i></span>
    </button>
    <div id="myNav" data-navbar-target="nav" class="overlay">
      <a href="javascript:void(0)" class="closebtn" data-controller="navbar" data-action="click->navbar#closeNav">&times;</a>
      <div class="overlay-content">
        <% if user_signed_in? %>
          <small><%= "Welcome, #{current_user.name}!"%></small>
          <li class="nav-item">
            <%= link_to bookings_path, class: "nav-link text-white" do %>
              <%= "My Bookings" %>
            <% end %>
            <%= link_to "My restaurants", owner_bookings_path, class: "nav-link text-white" if current_user.has_restaurants? %>
          </li>
          <li class="nav-item" id="logout">
            <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "nav-link text-white" %>
          </li>
        <% else %>
          <li class="nav-item d-flex">
            <%= link_to new_user_session_path, class: "nav-link text-white" do %>
              <%= "Login" %>
            <% end %>
          <% end %>
        </li>
      </ul>
      <div class="form-mobile">
        <%= render 'restaurants/form' %>
      </div>
    </div>
  </div>
</div>
</div>
