<div class="landing" style="background-color:black" data-controller="user-location">
  <div class="wrap">
    <div>
      <%= link_to restaurants_path do %>
        <div id="content">
          <img src="https://res.cloudinary.com/dmnm5ct2h/image/upload/v1669092922/Ozei/ozei_logo_armhnm.svg" alt="" class="logo">
        </div>
      <% end %>
    </div>
    <div class="lp-menu">
      <div class="searchbar-lp">
        <h1 class="cssanimation sequence fadeInBottom text-white">Last Minute <strong class="text-primary">Reservations!</strong></h1>
        <br>
        <%# log open %>
        <%# log close  %>
        <%= form_with url: restaurants_path, method: :get do |form| %>
          <%= hidden_field_tag :long, nil, data: { user_location_target: 'long' } %>
          <%= hidden_field_tag :lat, nil, data: { user_location_target: 'lat' } %>
          <small>
            <p class="cssanimation sequence fadeInBottom text-white">How many people today?</p>
          </small>
          <p class="cssanimation sequence fadeInBottom people"><%= form.select :group_size, options_for_select(1..50), value: params[:group_size] %></p>
          <br>
          <small>
            <br>
          </small>
          <p class="cssanimation sequence fadeInBottom"><%= text_field_tag :query, params[:query], placeholder: "Use current location" %></p>
          <p class="cssanimation sequence fadeInBottom input-button"><%= submit_tag "Search" %></p>
        <% end %>
      </div>
    </div>
  </div>
  <%# javascript  %>
