<div data-controller='insert-booking'>
  <div class="card-restaurant" data-insert-booking-target='cards'>
    <%= link_to restaurant_path(restaurant, group_size: @group_size) do %>
      <%= render 'restaurants/carousel', restaurant: restaurant%>
      <div class="card-content">
        <div class="card-restaurant-infos">
          <div class="m-3">
            <h2><%= restaurant.name %></h2>
            <p><%= restaurant.category %></p>
            <p>Tags: <%= restaurant.tag_list %></p>
            <h2 class="card-restaurant-pricing"><%= restaurant.price_range %></h2>
          </div>
        </div>
      <% end %>
      <% if @booking.present? %>
        <div class="select-card m-3">
          <%= simple_form_for ([restaurant, @booking]), data: {action: 'submit->insert-booking#appendBooking'} do |f| %>
            <%= f.input :number_of_people, as: :hidden, input_html: {value: params[:group_size]} %>
            <%= button_tag type: 'submit', class: "button-card" do %>
              Reserve
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
