<div class='map>
  <div class='pop-up-image'>
    <%= render 'carousel', restaurant: restaurant %>
  </div>
  <h5><%= restaurant.name %></h2>
  <p><strong><%= link_to restaurant.address, "https://www.google.com/maps?saddr=My+Location&daddr=#{restaurant.latitude},#{restaurant.longitude}", target: :_blank %></strong></p>
  <p>Type: <%= restaurant.category %></p>
  <p><%=restaurant.tag_list unless restaurant.tag_list.nil? %></p>
</div>
