<%= render "shared/navbar" %>
<% if @restaurants.all.count <= 10 %>
  <div class="fixed-results">
    <%= render 'sentence_results' %>
    <!--location -->
    <!-- all button-->
    <%= button_tag type: 'button',
      class: "button-all-card",
      data: {button_target: "button",
      action: "click->request-all#submitAll"} do %>
      Request All <small> > <%= @restaurants.all.count %></small>
    <% end %>
    <!-- all button-->
  </div>
<% else %>
  <div class="total">
    <%= render 'sentence_results' %>
  </div>
<% end %>
<div class="container">
  <%= render 'list' %>
</div>
<br>
<%= render 'map_modal' %>
<div>
  <%= link_to bookings_path do %>
    <%= render 'request_icon' %>
  <% end %>
  <br>
</div>
