<%= render "shared/navbar" %>
<div class="container">
  <div class="info-search-text">
    <% if @group_size == nil %>
      <p class="result-message"> <%= "All results" %></p>
    <% else %>
      <p class="result-message"><%= "Result for #{@group_size} people in #{@input.capitalize}" %></p>
    <% end %>
  </div>
</div>
<br>
  <%= render 'map_modal' %>
<div>
  <%= link_to bookings_path do %>
    <%= render 'request_icon' %>
  <% end %>
  <br>
  <%= render 'list' %>
</div>
