<%= render "shared/navbar" %>
<div class="container">
  <div class="info-search-text">
    <% if @group_size == nil %>
      <small> <%= "All restaurants" %></small>
    <% else %>
      <small><%=  "Places that can fit #{@group_size} people" %></small>
    <% end %>
  </div>
</div>
<br>
<%= render 'map_modal' %>
<br>
<%= render 'list' %>
<div id='bookings-modal'>
  <% if @bookings.present? %>
    <% @bookings.each do |booking| %>
      <%= render "card_product", booking: booking %>
    <% end %>
  <% end %>
</div>
