<%= render "shared/navbar" %>
<div class="container">
  <div class="info-search-text">
    <% if @group_size == nil %>
      <small> <%= "All restaurants" %></small>
    <% else %>
      <small><%=  "Search #{@group_size} people" %></small>
    <% end %>
  </div>
</div>
<br>
<%= render 'map_modal' %>
<div>
  <%= link_to bookings_path do %>
    <%= render 'request_icon' %>
  <% end %>
  <br>
  <%= render 'list' %>
</div>
