<%= render "shared/navbar" %>
<% if @user_confirmed == true %>
  <h1 class="reservation-confirmed">Reservation Confirmed</h1>
<% end %>
<div class="restaurant">
  <%= render 'carousel', restaurant: @restaurant %>
  <div class="tags">
    <p> <%= @restaurant.tag_list %></p>
    <hr class="separation">
    <br>
  </div>
  <div class="restaurant-display">
    <h1><%= @restaurant.name %></h1>
    <p class="address"><%= @restaurant.address %></p>
    <hr>
    <div>
      <div class="restaurant-content">
        <p><%= @restaurant.category %></p>
        <div>
          <i class="fa-solid fa-user-group"></i>
          <%= @restaurant.maximum_number %>
        </div>
        <div class="d-flex">
          <%= @restaurant.price_range %>
        </div>
      </div>
      <hr>
      <div class="description">
        <p> <%= @restaurant.description %></p>
      </div>
    </div>
    <% unless @user_confirmed == true %>
      <%# linking to form  %>
      <div class="select-card m-3">
        <%= simple_form_for [@restaurant, @booking] do |f| %>
          <%= f.input :number_of_people, as: :hidden, input_html: {value: params[:group_size]} %>
          <%= button_tag type: 'submit', class: "reserve-button" do %>
            Reserve
          <% end %>
        <% end %>
        <%# linking to form  %>
      </div>
    <% end %>
  </div>
  <%= render "show_map" %>
